name: Checkout Example
on:
  push:
  pull_request:

jobs:
  checkout-example:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Verifiy repository contents
        uses: ls -alhR
  
